.about-section {
    background-color: $light-grey;
    padding: 25rem 0;
    margin-top: -20vh;
}

.featured-section {
    background-image: linear-gradient( 
        to right,
        rgba($primary-color, 0.8),
        rgba($dark-primary-color, 0.8) 
    ) ,url(../img/nat-4.jpg);
    background-size: cover;
    background-position: top;
    padding: 25rem 0;
    margin-top: -10rem;
    transform: skewY(-7deg);

    & > * {
        transform: skewY(7deg);
    }
}
.pricing-section {
    background-color: $light-grey;
    padding: 25rem 0;
    margin-top: -10rem;
}