.primary-heading {
    color: $white-color;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;
    
    .first {
        display: block;
        font-size: 8rem;
        font-weight: 400;
        letter-spacing: 2rem;
        animation: inFromLeft 1s ease-in;
    }
    
    .second {
        display: block;    
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1rem;
        animation: inFromRight 1s ease-in;
    }
}

.secondary-heading {
    display: inline-block;
    font-size: 3.5rem;
    text-transform: uppercase;
    background-image: linear-gradient(to right, $light-primary-color, $dark-primary-color);
    color: transparent;
    -webkit-background-clip: text;
    transition: all .35s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: skew(10deg, 2deg) scale(1.1);  
    }
}

.tertiary-heading {
    font-size: $default-size;
    font-weight: 700px;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-size;
    
    &:not(:last-child) {
        margin-bottom: 2rem;
    }
}