.header{
    height: 95vh;
    background-image: linear-gradient( 
        to right,
        rgba($primary-color, 0.8),
        rgba($dark-primary-color, 0.8) 
    ) ,url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    position: relative;
}

.logo-box {
    position: absolute;
    top: 3rem;
    left: 3rem;
}

.logo {
    height: 3rem;
}

.header-text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}