$primary-color: #55c57a;
$light-primary-color: #7ed56f;
$dark-primary-color: #28b485;

$light-grey: #f7f7f7;

$dark-grey: #777;
$white-color: #fff;
$black-color: #000;

$grid-width: 114rem;
$h-gutter: 4rem;
$v-gutter: 6rem;