// COLORS
$primary-color: #55c57a;
$light-primary-color: #7ed56f;
$dark-primary-color: #28b485;

$light-secondary-color: #ffb900;
$dark-secondary-color: #ff7730;

$light-tertiary-color: #2998ff;
$dark-tertiary-color: #5643fa;

$light-grey: #f7f7f7;

$dark-grey: #777;
$white-color: #fff;
$black-color: #000;

// FONTS

$default-size: 1.6rem;

// GRID
$grid-width: 114rem;
$h-gutter: 6rem;
$v-gutter: 8rem;